body {
  background-color: #EAF6F6;
  text-align: center;
  font-family: '-webkit-pictograph', serif;
}
hr{
  border-style: dotted;
  width: 5%;;
  border-top: 1px;
  border-width: 7px;
  color: gray;
  margin: 60px auto;
}
.top-container {
  padding-top: 100px;
  position: relative;
}
.middle-container{
  margin: 100px 0;
}
.profile-para{
  width: 40%;
  margin: 0 auto;
}
.profile {
  margin: 0 auto;
}
.profile-img{
  width: 15%;
}
.pro {
  text-decoration: underline;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 2px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}
p{
  font-size: 20px;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0;
}

h3 {
  color: #11999E;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
p{
  line-height: 2;
}
.top-cloud {
  position: absolute;
  margin-right: 350px;
  right: 0;
  top: 0;
}

.bottom-cloud {
  position: absolute;
  margin-left: 150px;
  bottom: 800px;
}

.mountain {
  margin-top: 200px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.code-1{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.code-2{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
  width: 40%;
  margin: 30px auto;
}
.last-para{
  margin-bottom: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  text-decoration: none;
  padding: 20px;
  font-family: '-webkit-pictograph', serif;
  color: #35589A;
}
a:hover{
  color: white;
}
.copyright{
  font-family: '-webkit-pictograph', serif;
  font-size: 1rem;
  color: dimgray;
}

.btn {
  background: #29668f;
  background-image: -webkit-linear-gradient(top, #29668f, #3994cc);
  background-image: -moz-linear-gradient(top, #29668f, #3994cc);
  background-image: -ms-linear-gradient(top, #29668f, #3994cc);
  background-image: -o-linear-gradient(top, #29668f, #3994cc);
  background-image: linear-gradient(to bottom, #29668f, #3994cc);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  '-webkit-pictograph', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #227db5;
  background-image: -webkit-linear-gradient(top, #227db5, #07314d);
  background-image: -moz-linear-gradient(top, #227db5, #07314d);
  background-image: -ms-linear-gradient(top, #227db5, #07314d);
  background-image: -o-linear-gradient(top, #227db5, #07314d);
  background-image: linear-gradient(to bottom, #227db5, #07314d);
  text-decoration: none;
}
